{% extends 'partials/base.html.twig' %}

{% set collection = page.collection() %}

{% block content %}
    {{ page.content|raw }}
    
    <h2>Artikel-Timeline:</h2>
    <ul>
        {% for child in collection %}
            <li> 
                {% include 'partials/article_preview.html.twig' with {'blog':page, 'page':child, 'truncate':true} %}
            </li>        
        {% endfor %}
    </ul>
    
{% endblock %}
